.destination {
  display: flex;
  flex-direction: column;
  border: solid;
}

.destination-container {
  margin: 1rem 5rem 0rem 5rem;
}

.destination-container > h2 {
  margin-top: 0;
}

.destination {
  background-color: var(rgb(132, 7, 7));
  border: 1px solid;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

/* This targets all the child elements of the element with the .destination class */
.destination > * {
  padding: 0.5rem;
}

.destination-info {
  color: var(--outline);
  font-family: "Roboto", sans-serif;
}

/* This targets any footer element that is a child of an element with the .destination class */
.destination > footer {
  display: flex;
  border-top: 1px solid var(--outline);
  align-items: center;
  justify-content: space-between;
}

/* This targets any element that is a child of a footer that is a child of an element with the .destination class */
.destination > footer > * {
  flex-basis: 22%;
}

.ticket-search {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border: 1px solid var(--outline);
  border-radius: 0.25rem;
  margin-left: auto;
}

.filter-bar {
  display: flex;
}

.filter-btn {
  margin-right: 2.2rem;
  color: aliceblue;
}

.btn-primary {
  background-color: rgb(235, 8, 53);
  color: aliceblue;
}

.btn-info {
  background-color: rgb(21, 215, 7);
}

.btn-add {
  background-color: rgb(235, 63, 0);
}

.btn-del {
  background-color: rgb(238, 208, 36);
}

.destination-input {
  border-radius: 0.5rem 0rem 0rem 0.5rem;
  border: 2px solid white;
  flex-grow: 1;
  margin: 1rem 0;
}
