* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.welcome-background {
  min-height: 100vh;
  background-image: url(wp3283268.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding: 20px;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-text-box {
  background-color: transparent;
  backdrop-filter: blur(10px); /* Blurring the background */
  border-radius: 10px;
  padding: 30px;
  max-width: 600px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #000000;
}

.welcome-title {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #004d99;
}

.welcome-title span {
  display: block;
}

.welcome-text {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.welcome-note {
  font-size: 1rem;
  color: #555;
}

/* Navigation Bar Styling */
.navbar {
  background-color: rgb(255, 255, 255);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between; /* Space links and menu icon */
  padding: 0;
  margin: 0;
  width: 100%;
  align-items: center;
  position: fixed; /* Fixed position */
  top: 0; /* Align to top */
  left: 0; /* Align to left */
  right: 0; /* Align to right */
  z-index: 1000; /* Ensure it's on top of other elements */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  height: 50px;
}

.nav-links a {
  color: black;
  text-decoration: none;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: background-color 0.3s;
}

.nav-links a:hover {
  background-color: #f0f0f0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0 20px; /* Space from the edge */
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.153);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgb(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar.visible {
  display: flex;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
  color: black;
  text-decoration: none;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
  transition: background-color 0.3s;
}

.sidebar a:hover {
  background-color: #f0f0f0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
